<div class="p-1.5 mt-4 mb-1 ml-1 mr-1 bg-white shadow-md animate-slideIn-1 900px:p-3 m-6">
    <div class="flex flex-col w-full">
        <div class="w-full">
          <button  (mouseover)="changeColor()" class="group animate-scale-wave delay-6 p-1 relative bg-transparent inline-flex items-center w-full bg-white text-black font-medium transition-all duration-200 ease-out hover:bg-transparent hover:shadow-none hover:border-none focus:outline-none 900px:p-4 cursor-default">
            <div class="text-left tracking-[0.2em] text-xl md:text-3xl font-bold m-2 uppercase animate-slideIn-2">
              about
            </div>
            <span class="absolute w-0 h-0.5 left-0 bottom-0 {{currentColor}} transition-all duration-500 ease-out group-hover:w-full" aria-hidden="true"></span>
            <span class="absolute w-0 h-0.5 right-0 top-0 {{currentColor}} transition-all duration-500 ease-out group-hover:w-full" aria-hidden="true"></span>
          </button>
          <hr class="border-t-2 border-black mb-6 mt-6 animate-slideIn-3">
        </div>
        <div class="flex flex-col w-full p-2 900px:p-4">
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-2 animate-slideIn-4 900px:mb-4">
            INTRO
          </div>
          <div class="text-left animate-slideIn-5">
            I am a dedicated Senior Software Developer/Engineer with a strong passion for technology and a commitment to leveraging cutting-edge innovations. I am actively seeking opportunities to contribute to forward-thinking projects. If my expertise aligns with your needs or if you would like to discuss potential collaborations, please do not hesitate to reach out.
          </div>

          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase my-2 animate-slideIn-4 900px:my-4">
            CURRENTLY
          </div>
          <div class="text-left animate-slideIn-5">
            I am currently employed as a Senior Software Engineer at <a href="https://imriel.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">IMRIEL</a>. Prior to this role, I worked at <a href="https://www.slksoftware.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">SLK</a>,
            where I delivered services to the Banking sector, serving clients such as <a href="https://www.53.com/content/fifth-third/en.html" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700"> FIFTH THIRD</a>. During my tenure at SLK, I gained valuable experience in Working as Individual Developer, cultivating organizational culture, and fostering client relationships.
            My current position at IMRIEL has further enhanced my technical expertise and supported my professional development.
          </div>
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-2 mt-2 animate-slideIn-4 900px:mb-4 mt-4">
            Education
          </div>
          <div class="flex items-center justify-center bg-white px-6 900px:px-20 p-2 animate-slideIn-2 900px:p-4">
            <div class="space-y-6 border-l-2 border-dashed">
              <div class="relative w-full animate-slideIn-3">
                <fa-icon [icon]="faCheckCircle" class="absolute -top-1.5 900px:-top-2 z-10 -ml-3 900px:-ml-3.5 h-4 w-4 text-blue-500"></fa-icon>
                <div class="ml-5 900px:ml-6 animate-slideIn-4">
                  <h4 class="font-bold text-blue-500 animate-slideIn-5">Bachelor Of Engineering</h4>
                  <h3 class="font-bold text-gray-600 animate-slideIn-6">KLE Technological University BVBCET</h3>
                  <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Hubballi, Karnataka, India</p>
                  <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">2016 - 2020</span>
                </div>
              </div>
              <div class="relative w-full animate-slideIn-3">
                <fa-icon [icon]="faCheckCircle" class="absolute -top-1.5 900px:-top-2 z-10 -ml-3 900px:-ml-3.5 h-4 w-4 text-blue-500"></fa-icon>
                <div class="ml-5 900px:ml-6 animate-slideIn-4">
                  <h4 class="font-bold text-blue-500 animate-slideIn-5">Pri University Course (PUC)</h4>
                  <h3 class="font-bold text-gray-600 animate-slideIn-6">Secab Boys Collage</h3>
                  <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Vijaypur, Karnataka, India</p>
                  <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">2014 - 2016</span>
                </div>
              </div>
              <div class="relative w-full animate-slideIn-3">
                <fa-icon [icon]="faCheckCircle" class="absolute -top-1.5 900px:-top-2 z-10 -ml-3 900px:-ml-3.5 h-4 w-4 text-blue-500"></fa-icon>
                <div class="ml-5 900px:ml-6 animate-slideIn-4">
                  <h4 class="font-bold text-blue-500 animate-slideIn-5">Secondary School Leaving Certificate (SSLC)</h4>
                  <h3 class="font-bold text-gray-600 animate-slideIn-6">VB Darbar High School</h3>
                  <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Vijaypur, Karnataka, India</p>
                  <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">Batch 2014</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let skillTitle of skillTitles">
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase animate-slideIn-4">
            {{ skillTitle }} :
          </div>
          <app-skills [skill]="getSkillsByTitle(skillTitle)"></app-skills>
        </div>
        <div class="text-left tracking-[0.17em] text-base mt-2 md:text-sm font-bold uppercase animate-slideIn-4 900px:mt-4">
          Tools used:
        </div>
        <app-tools-used></app-tools-used>
        <div class="text-left tracking-[0.17em] text-base mt-2 md:text-sm font-bold uppercase animate-slideIn-4 900px:mt-4">
          certifications :
        </div>
        <app-card></app-card>
    </div>
</div>