
@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slideIn-1 {
    animation: slideIn 0.2s ease;
  }
  .animate-slideIn-2 {
    animation: slideIn 0.3s ease;
    font-size: clamp(
      20px, 4vw, 28px
      )
  }
  .animate-slideIn-3 {
    animation: slideIn 0.5s ease;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .animate-slideIn-4 {
    animation: slideIn 0.7s ease;
    font-size: clamp(
      10px, 3vw, 14px
      )
    
  }
  .animate-slideIn-5 {
    animation: slideIn 0.9s ease;
    font-size: clamp(
      8px, 3vw, 14px
      )
  }
  .animate-slideIn-6 {
    animation: slideIn 1s ease;
  }
  .animate-slideIn-7 {
    animation: slideIn 1.1s ease;
  }
  .animate-slideIn-8 {
    animation: slideIn 1.2s ease;
  }

  .animate-slideIn-9 {
    animation: slideIn 1s ease;
    font-size: clamp(
      8px, 3vw, 14px
      )
  }
  .animate-slideIn-10 {
    animation: slideIn 1.1s ease;
    font-size: clamp(
      8px, 3vw, 14px
      )
  }
  .animate-slideIn-11 {
    animation: slideIn 1.2s ease;
    font-size: clamp(
      8px, 3vw, 14px
      )
  }
  