<div class="p-4 pl-4 pr-4 900px:pl-12 pr-24">
    <div class="flex flex-wrap justify-center gap-1">
        <div *ngFor="let skill of skills">
            <div class=" hover:bg-sky-100 hover:scale-105 transition-transform duration-300 flex items-center justify-center flex-col border-2 border-sky-200 bg-white rounded-lg h-16 px-4 900px:h-20 900px:px-8">
                <img [src] = "skill.img" [alt]="skill.skillname" class="w-8 h-8 900px:w-10 900px:h-10">
                <span class="text-xs 900px:p-1 pl-2 font-semibold">{{skill.skillname}}</span>
            </div>
        </div>
      </div>
  </div>
